.receipt-adder {
    position: fixed;
    bottom: 20px; /* Adjust this if needed */
    right: 15px;
    z-index: 100;
}

.main-button {
    z-index: 10;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 70px;
    right: 0; 
    gap: 15px; 
}

.camera-preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .action-buttons {
        right: 0px;
        bottom: 70px;
        gap: 15px;
    }
}

@media (min-width: 769px) {
    .action-buttons {
        right: 0; 
        bottom: 80px;
        gap: 20px; 
    }
    .receipt-adder {
        position: fixed;
        bottom: 50px;
        right: 30px;
    }
}

@media (min-width: 430px) {
    .action-buttons {
        right: 0; 
        bottom: 80px;
        gap: 20px;
    }
    .receipt-adder {
        position: fixed;
        bottom: 30px;
        right: 5px;
    }
}